In [1]:
import pandas as pd

In [3]:
raw_df = pd.read_csv("./datasets/Traffic_Collisions_Open_Data_Complete.csv")

In [4]:
raw_df.shape

(772516, 23)

In [5]:
raw_df.columns

Index(['OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_MONTH', 'OCC_DOW',
       'OCC_YEAR', 'OCC_HOUR', 'DIVISION', 'FATALITIES', 'INJURY_COLLISIONS',
       'FTR_COLLISIONS', 'PD_COLLISIONS', 'HOOD_158', 'NEIGHBOURHOOD_158',
       'LONG_WGS84', 'LAT_WGS84', 'AUTOMOBILE', 'MOTORCYCLE', 'PASSENGER',
       'BICYCLE', 'PEDESTRIAN', 'x', 'y'],
      dtype='object')

In [6]:
raw_df.head(2)

,OBJECTID,EVENT_UNIQUE_ID,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,...,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,PASSENGER,BICYCLE,PEDESTRIAN,x,y
0,1,GO-20148000028,1/1/2014 5:00:00 AM,January,Wednesday,2014,17,D53,0,NO,...,Mount Pleasant East (99),-79.377616,43.701225,YES,NO,NO,NO,NO,-8.836276e+06,5.419322e+06
1,2,GO-20148004875,1/1/2014 5:00:00 AM,January,Wednesday,2014,14,D32,0,NO,...,Lawrence Park North (105),-79.397589,43.726091,YES,NO,NO,NO,NO,-8.838499e+06,5.423152e+06

In [7]:
raw_df['OCC_DATE'] = pd.to_datetime(raw_df['OCC_DATE']).dt.date

In [8]:
raw_df['DIVISION'].unique()

array(['D53', 'D32', 'NSA', 'D55', 'D43', 'D33', 'D52', 'D12', 'D23',
       'D14', 'D42', 'D41', 'D11', 'D22', 'D31', 'D51', 'D13'],
      dtype=object)

In [9]:
raw_df.drop(columns=['x', 'y'], inplace=True)

In [10]:
raw_df.drop(columns=['HOOD_158'], inplace=True)

In [11]:
raw_df["NEIGHBOURHOOD_158"].value_counts()

NEIGHBOURHOOD_158
NSA                                            126069
Wexford/Maryvale (119)                          18988
West Humber-Clairville (1)                      15622
York University Heights (27)                    12757
St Lawrence-East Bayfront-The Islands (166)     10862
                                                ...
Caledonia-Fairbank (109)                         1095
Humewood-Cedarvale (106)                         1068
Guildwood (140)                                  1018
Blake-Jones (69)                                  841
Lambton Baby Point (114)                          259
Name: count, Length: 159, dtype: int64

In [12]:
raw_df.to_csv("trimmed.csv",index=False)

In [13]:
raw_df["AUTOMOBILE"].value_counts()

AUTOMOBILE
YES    762134
N/R      6471
NO       3907
Name: count, dtype: int64

In [14]:
#get rid of collisons not involing auto or motorcycle
raw_df = raw_df[~((raw_df['AUTOMOBILE'] == 'NO') & (raw_df['MOTORCYCLE'] == 'NO'))]

In [15]:
#get rid of passenger rows
raw_df = raw_df[~(raw_df['PASSENGER'] == 'YES')]

In [16]:
raw_df.drop(columns=['PASSENGER'], inplace=True)

In [17]:
raw_df.drop(columns=['OBJECTID'], inplace=True)

In [18]:
(raw_df['DIVISION'] == "NSA").sum()

np.int64(101674)

In [19]:
(raw_df['NEIGHBOURHOOD_158'] == "NSA").sum()

np.int64(116923)

In [20]:
raw_df = raw_df[raw_df['DIVISION'] != "NSA"]
raw_df = raw_df[raw_df['NEIGHBOURHOOD_158'] != "NSA"]

In [21]:
(raw_df['DIVISION'] == "NSA").sum()

np.int64(0)

In [22]:
(raw_df['NEIGHBOURHOOD_158'] == "NSA").sum()

np.int64(0)

In [23]:
raw_df.head(5)

,EVENT_UNIQUE_ID,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,PD_COLLISIONS,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,BICYCLE,PEDESTRIAN
0,GO-20148000028,2014-01-01,January,Wednesday,2014,17,D53,0,NO,YES,NO,Mount Pleasant East (99),-79.377616,43.701225,YES,NO,NO,NO
1,GO-20148004875,2014-01-01,January,Wednesday,2014,14,D32,0,NO,NO,YES,Lawrence Park North (105),-79.397589,43.726091,YES,NO,NO,NO
13,GO-20143222633,2014-01-01,January,Wednesday,2014,4,D33,0,NO,NO,YES,Fenside-Parkwoods (150),-79.336644,43.762676,YES,NO,NO,NO
14,GO-20148000001,2014-01-01,January,Wednesday,2014,11,D53,0,NO,YES,NO,Thorncliffe Park (55),-79.346615,43.703234,YES,NO,NO,NO
15,GO-20148000002,2014-01-01,January,Wednesday,2014,1,D52,0,NO,NO,YES,Downtown Yonge East (168),-79.378428,43.650410,YES,NO,NO,NO

In [24]:
raw_df.loc[raw_df['LONG_WGS84'].isna()]

Empty DataFrame
Columns: [EVENT_UNIQUE_ID, OCC_DATE, OCC_MONTH, OCC_DOW, OCC_YEAR, OCC_HOUR, DIVISION, FATALITIES, INJURY_COLLISIONS, FTR_COLLISIONS, PD_COLLISIONS, NEIGHBOURHOOD_158, LONG_WGS84, LAT_WGS84, AUTOMOBILE, MOTORCYCLE, BICYCLE, PEDESTRIAN]
Index: []

In [25]:
raw_df["DIVISION"].value_counts()

DIVISION
D32    52532
D42    52031
D41    47750
D33    44621
D55    44039
D53    40452
D14    38885
D22    38085
D43    37217
D31    33839
D23    32992
D52    31516
D51    26201
D11    25871
D12    23049
D13    22743
Name: count, dtype: int64

In [26]:
raw_df.head(1)

,EVENT_UNIQUE_ID,OCC_DATE,OCC_MONTH,OCC_DOW,OCC_YEAR,OCC_HOUR,DIVISION,FATALITIES,INJURY_COLLISIONS,FTR_COLLISIONS,PD_COLLISIONS,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,AUTOMOBILE,MOTORCYCLE,BICYCLE,PEDESTRIAN
0,GO-20148000028,2014-01-01,January,Wednesday,2014,17,D53,0,NO,YES,NO,Mount Pleasant East (99),-79.377616,43.701225,YES,NO,NO,NO

In [27]:
raw_df.rename(columns={
    'OCC_DATE': 'DATE',
    'OCC_YEAR': 'YEAR',
    'OCC_MONTH': 'MONTH',
    'OCC_DOW': 'DOW',
    'OCC_HOUR': 'HOUR',
    'INJURY_COLLISIONS': 'INJURY',
    'FTR_COLLISIONS': 'FLED_SCENE',
    'PD_COLLISIONS': 'PROPERTY_DAMAGE',
    'NEIGHBOURHOOD_158': 'NEIGHBOURHOOD',
    'LONG_WGS84': 'LONG',
    'LAT_WGS84': 'LAT',
}, inplace=True)

In [28]:
raw_df.head(2)

,EVENT_UNIQUE_ID,DATE,MONTH,DOW,YEAR,HOUR,DIVISION,FATALITIES,INJURY,FLED_SCENE,PROPERTY_DAMAGE,NEIGHBOURHOOD,LONG,LAT,AUTOMOBILE,MOTORCYCLE,BICYCLE,PEDESTRIAN
0,GO-20148000028,2014-01-01,January,Wednesday,2014,17,D53,0,NO,YES,NO,Mount Pleasant East (99),-79.377616,43.701225,YES,NO,NO,NO
1,GO-20148004875,2014-01-01,January,Wednesday,2014,14,D32,0,NO,NO,YES,Lawrence Park North (105),-79.397589,43.726091,YES,NO,NO,NO

In [31]:
raw_df["NEIGHBOURHOOD"].value_counts()

NEIGHBOURHOOD
Wexford/Maryvale (119)                         17163
West Humber-Clairville (1)                     14220
York University Heights (27)                   11667
St Lawrence-East Bayfront-The Islands (166)     9982
Dorset Park (126)                               9680
                                               ...
Caledonia-Fairbank (109)                        1013
Humewood-Cedarvale (106)                        1004
Guildwood (140)                                  922
Blake-Jones (69)                                 784
Lambton Baby Point (114)                         232
Name: count, Length: 158, dtype: int64

In [32]:
(raw_df['LONG'] == 0.0).sum()

np.int64(0)

In [36]:
raw_df["SEVERE_COLLISION"] = ((raw_df["FATALITIES"] >= 1) | (raw_df["INJURY"] == "YES")).astype(int)

In [38]:
raw_df.sample(5)

,EVENT_UNIQUE_ID,DATE,MONTH,DOW,YEAR,HOUR,DIVISION,FATALITIES,INJURY,FLED_SCENE,PROPERTY_DAMAGE,NEIGHBOURHOOD,LONG,LAT,AUTOMOBILE,MOTORCYCLE,BICYCLE,PEDESTRIAN,SEVERE_COLLISION
689354,GO-20248142141,2024-07-12,July,Friday,2024,17,D53,0,NO,NO,YES,Bridle Path-Sunnybrook-York Mills (41),-79.378065,43.722143,YES,NO,NO,NO,0
611125,GO-20231210141,2023-05-27,May,Saturday,2023,18,D22,0,NO,YES,NO,Long Branch (19),-79.523698,43.596716,YES,NO,NO,NO,0
657090,GO-2024172822,2024-01-23,January,Tuesday,2024,18,D42,0,YES,NO,NO,Morningside Heights (144),-79.243098,43.825884,YES,NO,NO,NO,1
450975,GO-20208011755,2020-03-07,March,Saturday,2020,16,D41,0,NO,YES,NO,Dorset Park (126),-79.283155,43.771757,YES,NO,NO,NO,0
99089,GO-20151142651,2015-07-06,July,Monday,2015,22,D42,0,NO,NO,YES,Milliken (130),-79.295001,43.813873,YES,NO,NO,NO,0

In [39]:
raw_df.shape

(591823, 19)

In [40]:
raw_df.to_csv("trimmed.csv",index=False)